aiohttp==3.8.6
aiosignal==1.3.1
annotated-types==0.6.0
anyio==3.7.1
async-timeout==4.0.3
attrs==23.1.0
blinker==1.6.3
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
dataclasses-json==0.6.1
docx==0.2.4
docx2txt==0.8
exceptiongroup==1.1.3
faiss-cpu==1.7.4
flask==3.0.0
Flask-Cors==4.0.0
flask-swagger-ui==4.11.1
frozenlist==1.4.0
greenlet==3.0.0
idna==3.4
importlib-metadata==6.8.0
itsdangerous==2.1.2
Jinja2==3.1.2
jsonpatch==1.33
jsonpointer==2.4
langchain==0.0.310
langsmith==0.0.43
lxml==4.9.3
MarkupSafe==2.1.3
marshmallow==3.20.1
multidict==6.0.4
mypy-extensions==1.0.0
numpy==1.24.4
openai==0.28.1
packaging==23.2
Pillow==10.0.1
pydantic==2.4.2
pydantic-core==2.10.1
pypdf2==3.0.1
python-dotenv==1.0.0
PyYAML==6.0.1
regex==2023.10.3
requests==2.31.0
sniffio==1.3.0
SQLAlchemy==2.0.21
tenacity==8.2.3
tiktoken==0.5.1
tqdm==4.66.1
typing-extensions==4.8.0
typing-inspect==0.9.0
urllib3==2.0.6
werkzeug==3.0.0
yarl==1.9.2
zipp==3.17.0
